<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="GET" action="http://localhost:5000/patienten">
        <p><input type="submit" value="Zurück"></p>
    </form>
    <form method="POST" action="http://localhost:5000/patienten_update" id="inp"></form>
    <script>
        const client_data = {{client|tojson}};
        const client_json = JSON.parse(client_data);
        
        const table = document.createElement('table');
        
        for (let col in client_json){
            const tr = document.createElement('tr');
            const field = document.createElement('td');
            const value = document.createElement('td');
            const update = document.createElement('td');
            field.textContent = col;
            value.textContent = client_json[col];

            const input = document.createElement('input');
            input.type = "text";
            input.name = col;
            input.id = col;
            update.appendChild(input);

            tr.appendChild(field);
            tr.appendChild(value);
            tr.appendChild(update);

            table.appendChild(tr);
        }

        const form = document.getElementById('inp');
        form.appendChild(table)
        const sub = document.createElement('input');
        sub.type = "submit";
        sub.value = "Update";
        form.appendChild(sub);
    </script>
    <br>
    <form method="GET" action="http://localhost:5000/patienten_delete">
        <input type="submit" value="Löschen">
    </form>
</body>
</html>