<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form method="POST" action="http://localhost:5000/termin_neu">
        <p>Therapeut <input type="text" name="Therapeut"></p>
        <p>Datum <input type="date" name="Datum"></p>
        <p>Uhrzeit <input type="time" name="Uhrzeit"></p>
        <p>Patient <input type="text" name="Patient"></p>
        <p>Ort <select name="Ort" id="i">
            <option value="Praxis">Praxis</option>
            <option value="Hausbesuch">Hausbesuch</option>
        </select></p>

    <p><input type="submit" value="Termin Hinzufügen"></p>
    </form>
</body>
</html>