<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <p>Hallo {{name}}</p>
    <form method="GET" action="http://localhost:5000/patienten">
        <p><input type="submit" value="Patienten"></p>
    </form>
    <form method="GET" action="http://localhost:5000/termine">
        <p><input type="submit" value="Termine"></p>
    </form>
    <form method="GET" action="http://localhost:5000/login">
        <p><input type="submit" value="Log Out"></p>
    </form>
</body>
</html>