<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form method="POST" action="http://localhost:5000/register">
    <p>Benutzername <input type="text" name="Username"></p>
    <p>Passwort <input type="password" name="Password"></p>
    <p>Passwort <input type="password" name="Password_rep"></p>
    <p>Vorname <input type="text" name="Firstname"></p>
    <p>Nachname <input type="text" name="Lastname"></p>
    <p>Geburtsdatum <input type="date" name="Date_of_Birth"></p>
    <p><input type="submit" value="Register"></p>
    </form>
</body>
</html>